* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
 .gallery {
  list-style: none;
  display: flex;
  height: 100vh;

 }
 .gallery li {
  border-right: 5px solid #000;
  flex: 1;
  transition: 0.5s;
  position: relative;
  overflow:hidden;
}
.gallery li:last-child {
  border-right: none;
}
.gallery li:nth-child(1) {
  background:url('/images/KakaoTalk_20210517_204838460.jpg') no-repeat center;
  background-size: cover;
}
.gallery li:nth-child(2) {
  background:url('/images/KakaoTalk_20210517_204839488.jpg') no-repeat center;
  background-size: cover;
}
.gallery li:nth-child(3) {
  background:url('/images/KakaoTalk_20210517_204839830.jpg') no-repeat center;
  background-size: cover;
}
.gallery li:nth-child(4) {
  background:url('/images/KakaoTalk_20210517_204841810.jpg') no-repeat center;
  background-size: cover;
}
.gallery li:nth-child(5) {
  background:url('/images/KakaoTalk_20210517_204842851.jpg') no-repeat center;
  background-size: cover;
}
.gallery:hover li {
  flex: 1;
}
.gallery li:hover {
  flex: 4;
  filter: grayscale(0.5);
}
.gallery li .content {
  position: absolute;
  background-color: #000;
  color: #fff;
  text-align: center;
  bottom: -350px;
  transition-duration: 1s;
  left: 40%;
}
.gallery li:hover .content {
  bottom: 50px;
}




