header section.creative,
section.story,
section.expertise,
section.meet > div,
section.works > div,
section.give,
footer > div {
  max-width: 940px;
  margin: 0 auto;
  
}
a {
  text-decoration: none;
}


@media screen and (min-width: 1280px) { 
  header {
    background: url('/ex1/images/bg_01.png') no-repeat center;
    background-size: cover;
    min-height: 670px;
  }
  header section.creative div:first-of-type {
    display: flex;
    padding: 30px 0 170px 0; 
  }
  header section.creative div:first-of-type h1 {
    min-width:130px;
  }
  header section.creative div:first-of-type h1 img {
    width: 100%;
  }
  header section.creative div:first-of-type nav { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header section.creative div:first-of-type nav ul {
    display: flex;
    gap:10px;
  }
  header section.creative div:first-of-type nav ul li a {
    padding: 5px 12px;
    font-size: 13px;
    color: white;
  }
  header section.creative div:first-of-type + h2 {
    color: white;
    text-align: center;
    font-size: 32px;
    padding-bottom: 30px;
    background: url('/ex1/images/bd_01.png') no-repeat center bottom;
  }
  header section.creative  div:first-of-type + h2 + p {
    color: white;
    padding: 30px 10% 50px;
    text-align: center;
  }
  .click {
    display: flex;
    justify-content: center;
  }
  .click a {
    padding: 10px;
    color:#1a828b;
    font-weight: 700;
    box-sizing: border-box;
    border : 2px solid #1a828b;
  }
  .slider {
    padding: 120px 0 60px 0;
  }
  .slider ul {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .slider ul li {
    list-style: none;
  }
  .slider ul li a {
    display: block;
    text-indent: -9999px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    border: 1px solid #746f85;
  }
  .slider ul li:hover a,
  .slider ul li:first-child a {
    background-color:#1a828b;
  }

  /** header fin */
  
  footer {
    background: url('../images/bg_05.png') no-repeat left top;
  }
  footer > div .flex {
    display: flex;
    padding-top: 60px;
  }
  footer > div .flex div {
    flex: 1 33%;
  }
  footer > div .flex > div:first-of-type h2 {
    width: 20%;
    min-width: 120px;
    position: relative;
    top: -20px;
  }
  footer > div .flex > div:first-of-type h2 img {
    width: 100%;
  }
  footer > div .flex > div:first-of-type p {
    color: white;
    font-size: 13px;
    line-height: 20px;
    max-width: 280px;
  }
  footer > div .flex > div:nth-of-type(2){
    margin-left: 5%;
  }
  footer > div .flex > div:nth-of-type(2) h2 {
    font-size: 15px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
  }
  footer > div .flex > div:nth-of-type(2) a {
    float: left;
  }
  footer > div .flex > div:nth-of-type(2) p {
    margin-left: 9%;
    color: white;
    font-size: 13px;
    max-width: 250px;
    line-height: 19px;
  }
  footer > div .flex > div:nth-of-type(2) a:last-of-type img {
    transform: translateY(80%);
  }
  footer > div .flex > div:nth-of-type(2) address {
    margin: 15px 0 0 9%;
    font-size: 13px;
    color: white;
  }
  footer > div .flex > div:nth-of-type(3) {
    margin-left: 4%;
  }
  footer > div .flex > div:nth-of-type(3) h2 {
    margin-bottom: 30px;
    color: white;
  }
  footer > div .flex > div:nth-of-type(3) input[type='text'] {
    padding: 15px 5px;
    min-width: 210px;
  }
  footer > div .flex > div:nth-of-type(3) > a {
    padding: 10px 10px 15px;
    border: 1px solid #fff;
    margin-left: 2%;
  }
  footer > div .flex > div:nth-of-type(3) > a img {
    transform: translatey(35%);
  }
  footer > div .flex > div:nth-of-type(3)  ul {
    display: flex;
    margin-top: 30px;
    gap: 8px;
  }
  footer > div .flex > div:nth-of-type(3) ul li {
    list-style: none;
  }
  footer > div div:last-of-type {
    padding-bottom: 70px;
  }
  footer > div div:last-of-type > ul {
    list-style: none;
    font-size: 13px;
  }
  footer > div .list > ul > li:not(:nth-child(4)) {
    display: inline-block;
    margin-right: 5%;
  }
  footer > div .list ul li:nth-child(4) {
    float: right;
  }
  footer > div .list ul li a {
    display: block;
    color: white;
  }  
}