@media screen and (min-width:1280px) {
  
  section.story > div {
    display: flex;
    padding: 70px 0;
  }
  section.story > div div:first-of-type {
    width: 100%;
    max-width: 235px;
    margin-right: 18%;
  }
  section.story > div div:first-of-type img {
    width: 100%;
  }
  section.story > div div:last-of-type h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  section.story > div div:last-of-type p {
    color: #9e9da2;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 30px;
  }
  .click1 {
    display: flex;
    margin: 30px 0 70px 0;
  }
  .click1 a {
    padding: 10px;
    color:#1a828b;
    font-weight: 700;
    box-sizing: border-box;
    border : 2px solid #1a828b;
  }
  /** story fin */

  section.watch {
    background: url('/ex1/images/bg_02.png') no-repeat center;
    background-size: cover;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  section.watch > div {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #fff;
    position: relative;
    box-sizing: border-box;

 
  }
  section.watch > div > a {
    color: white;
    position: absolute;
    left: 48%;
    bottom: 50%;
    transform: scale(3.5);
  }
  section.watch h2 {
    position: absolute;
    color: white;
    left: 44%;
    bottom:35%;
    font-size: 16px;
    font-weight: 700;
  }
  section.expertise {
    padding: 70px 0;
  }
  section.expertise > div h2 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
  section.expertise > div p {
    padding: 20px 20%;
    box-sizing: border-box;
    text-align: center;
    background: url('/ex1/images/bd_01.png') no-repeat center bottom; 
    margin-bottom: 45px;
  }
  section.expertise > div ul {
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
  }
  section.expertise > div ul li {
    flex: 1 33%;
    list-style: none;
    background-repeat: no-repeat;
    background-position: center 10%;
    text-align: center;
    display:flex;
    align-items: center;
  }
  section.expertise > div ul li:nth-child(1) {
    background-image: url('/ex1/images/ico_01.png');
  }
  section.expertise > div ul li:nth-child(2) {
    background-image: url('/ex1/images/ico_02.png');
  }
  section.expertise > div ul li:nth-child(3) {
    background-image: url('/ex1/images/ico_03.png');
  }
  section.expertise > div ul li:nth-child(4) {
    background-image: url('/ex1/images/ico_04.png');
  }
  section.expertise > div ul li:nth-child(5) {
    background-image: url('/ex1/images/ico_05.png');
  }
  section.expertise > div ul li:nth-child(6) {
    background-image: url('/ex1/images/ico_06.png');
  }
  section.expertise > div ul li:not(:nth-child(3n)) {
    border-right: 1px solid #ebebeb;
  }
  section.expertise > div ul li:not(:nth-child(-n+3)) {
    border-top: 1px solid #ebebeb;
  }
  section.expertise > div ul li dl {
    margin-top: 30px;
    padding: 0 3%;
  }
  section.expertise > div ul li dl dt {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 20px;
  }
  section.expertise > div ul li dl dd {
    font-size: 13px;
    line-height: 20px;
  }
  section.meet {
    background: url('../images/bg_03.png') no-repeat left top;
    background-size: cover;
  }
}

